@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-brand-bone text-brand-ink;
}

h1 {
  @apply mb-3 text-3xl leading-tight tracking-tight sm:text-4xl lg:text-7xl;
}

h2 {
  @apply text-2xl tracking-tight sm:text-3xl lg:text-5xl;
}

h3 {
  @apply mb-3 text-xl font-bold sm:text-2xl;
}

a {
  @apply transition;
}

img {
  @apply max-w-full;
}

[x-cloak] {
  display: none !important;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
